img {
	height: 200px;
	background-color: #f0f0f0;
	margin: 300px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.loaded {
	animation: fadeIn 1s ease-in-out;
}

.load {
	position: fixed;
}
